.Header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, .7);
    padding: 4.5px 10px;
}


.Header__logo {
    display: flex;
    align-items: center;
}

.Header__logo h2 {
    margin: 0 0 0 1rem;
}