.Sidebar__container {
    height: 100%;
    min-width: 300px;
    background: rgba(255, 255, 255, .7);
}

.Sidebar__header {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    background: rgba(255, 255, 255, .5);
}


.Sidebar__header h2 {
    font-family: 'Monoton', cursive;
    line-height: 1.8rem;
    color: var(--primary-color);
    margin-left: 1rem;
}

.Sidebar__nav {
    list-style: none;
    padding: 0;
    margin: 2rem 2rem 0 2rem;
}

.Sidebar__nav li a {
    padding: .5rem 1rem;
    display: flex;
    background-color: rgba(255, 255, 255, .5);
    margin: .5rem 0;
    align-items: center;
    border-radius: 5rem;
    font-weight: 600;
    transition: .2s all ease;
}

.Sidebar__nav li a.active, .Sidebar__nav li a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.Sidebar__nav li a.active .Sidebar__nav_icon,
.Sidebar__nav li a:hover .Sidebar__nav_icon {
    color: #fff;
}

.Sidebar__nav_icon {
    width: 1.2rem;
    margin-right: 1rem;
    color: var(--primary-color);
}


@media screen and (max-width:900px){
    .Sidebar__container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .Sidebar__header {
        display: none;
        visibility: none;
    }

    .Sidebar__nav {
        display: flex;
        align-items: center;
        padding: 0 !important;
        margin: 0 !important;
        overflow-y: auto;
    }

    .Sidebar__nav li {
        width: 100%;
    }

    .Sidebar__nav li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
        border-radius: 0;
        margin: 0;
    }

    .Sidebar__nav_icon {
        margin: .2rem;
        width: 2rem;
        height: 2rem;
    }
}


/* Track */
.Sidebar__nav::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.Sidebar__nav::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
.Sidebar__nav::-webkit-scrollbar-thumb:hover {
    background: transparent;
}