.Dashboard__wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

.Dashboard__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.Dashboard__container {
    padding: 1rem;
    height: calc(100vh - 65px);
    overflow-y: auto;
}

.Dashboard__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Dashboard__item {
    background-color: rgba(255, 255, 255, .8);
    width: calc(100% / 4 - 20px);
    padding: 1rem;
    border-radius: 1rem;
}

.Dashboard__item  h2 {
    margin: 0;
    color: var(--primary-color);
}

.Dashboard__item_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
}

.Dashboard__item_info p {
    font-size: 2rem;
    margin: 0;
    font-family: 'Monoton', cursive;
}

@media screen and (max-width:900px){
    .Dashboard__content {
        padding-bottom: 2rem;
    }

    .Dashboard__item {
        width: 100%;
        margin-bottom: 1rem;
    }

    .Dashboard__stats {
        flex-direction: column;
    }

    .Dashboard__item h2 {
        font-size: 1.2rem;    
    }

    .Dashboard__item_info svg {
        width: 2rem;
    }

    .Dashboard__item_info p {
        font-weight: 600;
    }
}