
.Login__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    font-family: 'Didact Gothic', sans-serif;
}

.Login__header {
    padding: 0rem 1rem;
    background: #fff;
    border-top: .2rem solid var(--primary-color);
    transition: all .3s ease;
    border-radius: 10rem;
    max-width: 80%;
    width: 100%;
    margin: 1rem auto;
}

.Login__header h1 {
    letter-spacing: 15px;
    text-align: center;
    transition: all .3s ease;
    line-height: 12px;
}

.Login__header:hover {
    border-top-color: #fff;
}

.Login__header h1:hover {
    color: var(--primary-color);
}

.Login__form {
    max-width: 350px;
    width: 100%;
    margin: 10% auto;
    background-color: #fff;
    padding: 2rem 3rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 2px -1px 100px 10px rgba(0, 0, 0, .6);
}

@media screen and (max-width:500px){
    .Login__form {
        margin: 30% auto;
    }

    .Login__header {
        max-width: 90%;
    }

    .Login__header h1{
        font-size: 1rem;
    }

    .Login__form {
        max-width: 300px;
        padding: 2rem;
    }
}

.Login__logo {
    text-align: center;
}

.Login__logo img {
    height: 5rem;
    object-fit: contain;
}

.Login__form_input {
    margin: .5rem 0rem;
    display: flex;
    flex-direction: column;
}

.Login__form_input input {
    height: 2.5rem;
    margin-top: .2rem;
    border-radius: .5rem;
    border: 1px solid rgb(207, 205, 205);
    padding: 0 .5rem;
    outline: none;
}

.Login__form_input button {
    margin-top: 1rem;
    padding: .7rem;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: all .4s ease;
    border-radius: .5rem;
    color: whitesmoke;
}

.Login__form_input button:hover {
    background:var(--secondary-color);
}