.Notes__wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

.Notes__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}