.Pages__wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

.Pages__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.Pages__container {
    padding: 1rem;
    height: calc(100vh - 65px);
    overflow-y: auto;
}

.Pages__card {
    padding: .5rem;
    background-color: rgba(255, 255, 255, .1);
    border-radius: .5rem;
}

.Pages__card_header {
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-radius: .5rem;
}

.Pages__card_header_action {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Pages__card_header_action svg {
    width: 1rem;
    color: var(--primary-color);
}

.Pages__table {
    width: 100%;
    display: table;
    font-family: 'Didact Gothic', sans-serif;
}

.Pages__table thead {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
}

.Pages__table thead tr th {
    padding: .8rem 0;
}


.Pages__table tbody tr td {
    padding: .8rem 0;
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5rem;
    color: #fff;
}

.Pages__icon {
    width: 1rem;
    cursor: pointer;
    color: var(--primary-color);
}

.Pages__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.Pages__container h3 {
    color: #fff;
}

.Pages__form_con {
    background-color: rgba(255, 255, 255, .1);
    border-radius: .5rem;
    padding: 1rem;
}

.Pages__form label {
    margin: 5px 0;
    color: #fff;
}

.Pages__form input,.Pages__form textarea {
    padding: .5rem;
    border-radius: .3rem;
    border: none;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    outline: none;
    height: 50px;
}

.Pages__form textarea {
    resize: vertical;
}

.Pages__form button {
    padding: .8rem 1rem;
    border: none;
    background-color: rgba(0, 0, 0, .5);
    border-radius: .5rem;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.Pages__form button:hover {
    background-color: rgba(0, 0, 0, .8);
}