.GeneratedLink {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    padding: 0rem 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: #fff;
    font-family: 'Didact Gothic', sans-serif;
}

.GeneratedLink__message {
    font-size: 1.1rem;
}

.GeneratedLink__close {
    position: absolute;
    width: 1.2rem;
    right: .2rem;
    top: .2rem;
    color: var(--primary-color);
    cursor: pointer;
}

.GeneratedLink__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: -.5rem 0 .5rem 0;
}

.GeneratedLink__link svg:first-child{
    width: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--primary-color);
}
