
.App_title {
    font-family: "Monoton", cursive;
    color: var(--primary-color);
    position: absolute;
    left: 2rem;
    bottom: 0rem;
    font-size: 2rem;
    line-height: 0;
    animation: appear-bottom .4s linear;
    text-shadow: 0px 2px 1px rgb(17, 17, 17);
}

.App_logo {
    color:var(--primary-color);
    position: absolute;
    left: 2rem;
    top: .9rem;
    font-size: 1rem;
    line-height: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App_logo_img {
    opacity: 1;
}


.App_logo h1{
    font-family: "Monoton",
    cursive;
}

.App_action {
    position: absolute;
    left: 5rem;
    top: 8rem;
    border-radius: .5rem;
    min-width: 20rem;
    background-color: #fff;
    animation: fade .4s linear;
    overflow: hidden;
    height: auto;
}

.App_navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 999;
}

.App_actions {
    color: var(--secondary-color);
    position: absolute;
    left: 28rem;
    top: 7.5rem;
}

.App_actions > p {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 3rem;
    cursor: pointer;
    transition: all .4s ease;
}

.App_actions p svg {
   width: 1.2rem;
}

.App_actions p:hover,.App_actions p.active {
    background-color: var(--primary-color);
    color: #fff;
}

.App_ads {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width:350px) {
    .App_navigation{
        font-size: .8rem!important;
    }

    .App_action {
        margin: 10%;
    }
}

@media screen and (max-width:567px) {
    
    .App_ads {
        right: 50%;
        transform: translate(50%);
    }

    .App_logo {
        position: relative;
        text-align: center;
        top: .5rem;
        left: 0;
    }

    .App_navigation {
        justify-content: center;
        font-size: .9rem;
        flex-direction: column;
    }

    .App_action {
        position: relative;
        left: 0;
        top: 0;
        z-index: 999999999;
        margin: 5%;
    }

    .App_actions {
       position: fixed;
       bottom: 0rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        left: 0;
        top: auto;
        display: flex;
        justify-content: space-around;
        width: 100%;
        background: #fff;
        z-index: 9999;
    }

    .App_actions>p{
        background-color: rgba(0, 0, 0, .1);
    }

    .App_title {
        bottom: 1rem;
        left: 0;
        text-align: center;
        width: 100%;
        display: block;
    }
}

@keyframes appear {
    from {
        left: -2rem;
    }

    to {
        left: 2rem;
    }
}

@keyframes appear-bottom {
    from {
        bottom: -2rem;
    }

    to {
        bottom: 0rem;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}