
.Navigation {
    padding: .5rem;
    background: #fff;
    border-radius: .5rem;
    margin: 1rem;
    border: 1px solid lightgray;
    animation: fade .4s ease;
}

.Navigation__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.Navigation__link_item {
    font-weight: 500;
    padding: .2rem 1rem;
    border-right: 1px solid lightgray;
}

.Navigation__link_item a {
    transition: .2s all ease;
}

.Navigation__link_item:last-child {
    border: none;
}

.Navigation__link_item:hover a {
    color: var(--primary-color)!important;
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}