.Toaster {
    position:fixed;
    padding: 1.5rem 1rem;
    font-weight: 700;
    transition: all .4s linear;
    z-index: 999999;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: var(--primary-color);
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Toaster svg {
    width: 3rem;
    margin-bottom: .5rem;
}

.Toaster.active {
    top: 0px;
}